.text-field {
    -fx-font-family: "Calibri";
    -fx-font-size: 20px;
}

.combo-box {
    -fx-font-family: "Calibri";
    -fx-font-size: 20px;
}

.date-picker {
    -fx-font-family: "Calibri";
    -fx-font-size: 20px;
}

.label {
    -fx-font-family: "Calibri";
    -fx-font-size: 20px;
}

#lHeader {
	-fx-font-family: "Calibri";
    -fx-font-size: 36px;
}

#lMainHeader {
	-fx-font-family: "Calibri";
    -fx-font-size: 24px;
}

#lFooter {
	-fx-font-family: "Calibri";
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

#lFooter:hover {
    -fx-underline: true;
}
